{% load socialaccount %}

{% get_providers as socialaccount_providers %}

{% for provider in socialaccount_providers %}
{% if provider.id == "openid" %}
{% for brand in provider.get_brands %}
<li>
  <a title="{{brand.name}}" 
     class="socialaccount_provider {{provider.id}} {{brand.id}}" 
     href="{% provider_login_url provider.id openid=brand.openid_url process=process %}"
     >{{brand.name}}</a>
     <a href="#" class="w3pvt_twitter editContent">
      <span class="fa fa-twitter"></span>
  </a>
</li>
{% endfor %}
{% endif %}
<ul class="w3layouts_social_list media-soc list-unstyled">
<li>
  <a href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}" class="w3pvt_twitter editContent">
    <span class="fa fa-vk"></span>
</a>
  <a title="{{provider.name}}" class="socialaccount_provider {{provider.id}}" 
     href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">{{provider.name}}</a>
</li>
</ul>
{% endfor %}
